<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">UMS</title>
<th:block th:replace="fragments/style"></th:block>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar navbar-default"
		th:replace="fragments/header :: header"></nav>

	<div class="container" layout:fragment="content">
		<div class="alert alert-info">
			<h2>Create User As Student</h2>
			<hr>
			<a class="btn btn-primary" href="/">Return Home</a>
		</div>

		<form action="/userstudent/save" th:object="${newUser}" method="post">
			
			<p th:if="${userExist}" class="error" style="color: red; font-weight: bold; size: 24px"
			> Username is already existing, choose another username!</p>
			
			<div class="form-group">
				<label>User Name: </label> <input type="text" class="form-control"
					th:field="*{userName}" placeholder="User Name" />
			</div>
			
			<div class="form-group">
				<label>Password: </label> <input type="text" class="form-control"
					th:field="*{userPassword}" placeholder="Password" />
			</div>
			

 			<div class="form-group">
				<label>Student Full Name /First and Last/: </label> <select class="form-control"
					th:field="*{student.id}" id="dropStudent">
					<option value="0">Select student</option>
					<option th:each="student : ${studentList}"
						th:value="${student.id}" th:text="${student.getFirstName()
						+' '+student.getLastName()}"></option>
				</select>
			</div>


			<div class="pull-right">
				<a href="/users" class="btn btn-default">Cancel</a>
				<button type="submit" class="btn btn-primary" >Save</button>
				<input type="hidden" th:field="*{id}"/>
			</div>

		</form>
	</div>


	<footer class="page-footer" th:replace="fragments/footer"></footer>


	<th:block th:replace="fragments/script"></th:block>

	<th:block layout:fragment="myScript">

	</th:block>

</body>
</html>