<nav class="navbar navbar-default" xmlns:th="http://wwww.thymeleaf.org" th:fragment="header">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">MUMSched</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/">Home</a></li>
			<li><a href="/student">Student</a></li>
			<li><a href="/studentRegistration">Student Registration</a></li>
			<li><a href="/faculty">Faculty</a></li>
			<li><a href="/facultyCourse">FacultyCourse</a></li>
			<li><a href="/users">User</a></li>
			<li><a href="/showentries">Entry</a></li>
			<li><a href="/show-blocks">Block</a></li>
			<li><a href="/sections">Section</a></li>
			<li><a href="/course">Course</a></li>
			<li><a href="#">Login</a></li>
		</ul>
	</div>
</nav>
