
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Student Registration Form</title>
</head>
<body>

	<div id="global">
		<form action="#" th:action="@{/studentaddsuccess}" th:object="${newStudent}"
			method="post">
			<fieldset>
				<legend>Student Form</legend>

				<p>
					<label for="firstName">First Name : </label> <input id="firstName"
						type="text" th:field="*{firstName}" />
				</p>
				<p>
					<label for="lastName">Last Name : </label> <input id="lastName"
						type="text" th:field="*{lastName}" />
				</p>
				<p>
					<label for="email">Email : </label> <input id="email"
						type="text" th:field="*{email}" />
				</p>
				<p>
					<label for="phone">Phone : </label> <input id="phone"
						type="text" th:field="*{phone}" />
				</p>
				
				<p>
					<label for="address">Address : </label> <input id="address"
						type="text" th:field="*{address}" />
				</p>
				
				<p>
					<input id="btnAdd" type="submit" value="Save"/>
				</p>

			</fieldset>
			
			<fieldset>
				<legend>Student List</legend>
				<table>
					<tr>
						<th>ID</th>
						<th>FirstName</th>
						<th>LastName</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
					<tr th:each="student : ${studentList}">
						<td th:text="${student.id}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.email}"></td>
						<td th:text="${student.phone}"></td>
						<td th:text="${student.address}"></td>
						
					</tr>
				</table>
			</fieldset>
		</form>
	</div>
</body>
</html>
